.form-control {
    margin: 1rem 0;
    font-weight: bold;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    background: transparent;
}

.form-control input,
.form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #a0a7a6;
}

.form-control input:valid,
.form-control textarea:valid {
    background-color: white;
    outline-color: #bcd1cf;
    opacity: 0.6;
}

.product-form input.invalid,
.product-form textarea.invalid {
    border-color: red;
}