.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    border-radius: 5px;
}

.form-control input,
.form-control textarea {
    border: 1px solid #0082b6;
    font: inherit;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #100069;
    border-radius: 2px;
}