.orders {
    list-style: none;
    padding: 0;
    margin: 0;
}

.orders__item h1 {
    margin: 0;
    font-size: 1.2rem;
}

.orders__item {
    box-shadow: 0 2px 8px rgba(180, 171, 171, 0.26);
    padding: 1rem;
    margin-bottom: 1rem;
}

.orders__products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orders__products-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #5e5c5c;
    color: #222121;
}

a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(7, 7, 7);
}

a:hover {
    color: rgb(8, 8, 8);
}

a:active {
    color: blue;
}