.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(196, 196, 196);
}

.product__price {
    text-align: center;
    color: rgb(196, 196, 196);
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
    color: rgb(196, 196, 196);
}

.succses-message {
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: rgb(17, 139, 93);
    width: 20%;
    height: 40px;
    margin-left: 700px;
    margin-right: 500px;
    overflow: hidden;
}