.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
    background-color: transparent;
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    border-radius: 5px;
}

.form-control input,
.form-control textarea {
    border: 1px solid #000e4d;
    font: inherit;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #100069;
    border-radius: 2px;
}

.form-signup {
    text-decoration: aliceblue;
    height: 70%;
    width: 40%;
    border: 1px solid;
    border-radius: 5rem;
    overflow: auto;
    position: absolute;
    z-index: 15;
    top: 30%;
    left: 40%;
    margin: -100px 0 0 -150px;
    background: transparent;
    font-weight: bold;
}

.btn-signup {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #070235;
    color: #f8f8f8;
    background: #03102c;
    border-radius: 3px;
    cursor: pointer;
}

.btn-signup:hover {
    background: rgb(180, 180, 207);
}

.center-btn {
    text-align: center;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    margin-top: 0.8rem;
}

::placeholder {
    color: rgb(177, 180, 204);
}

button {
    height: 40px;
    width: 100px;
    margin: -20px -50px;
    margin-top: 10px;
    position: relative;
    top: 50%;
    left: 50%;
}

div {
    color: rgb(0, 0, 0);
}

.login-form input.invalid {
    border-color: red;
}